@tailwind base;
@tailwind components;
@tailwind utilities;

  html, body {
    width: 100%;
    scroll-behavior: auto !important;
    overflow-x: visible !important; /* ✅ Ensures fixed elements aren’t hidden */
  }


  /* Fonts */

  @font-face {
    font-family: 'Zilap';
    src: url('/fonts/zilap.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Number';
    src: url('/fonts/Number.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Artistic';
    src: url('/fonts/artistic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Corporate';
    src: url('/fonts/corporate.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Luxury';
    src: url('/fonts/luxury.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Future';
    src: url('/fonts/futura.ttc') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Minimalist';
    src: url('/fonts/minimalist.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Modern';
    src: url('/fonts/modern.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Retro';
    src: url('/fonts/retro.otf') format('openType');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Innovative';
    src: url('/fonts/innovative.otf') format('openType');
    font-weight: 400;
    font-style: normal;
  }


  
  @keyframes slideOut {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
    @keyframes slideOutLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


/* For flip card */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.header-underline {
  position: relative;
  display: inline-block;
  padding-bottom: .5rem;
  transition: color 0.3s ease;
}

.header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with no underline */
  height: .2rem;
  background-color: currentColor;
  transition: width 0.3s ease; /* Only animate width */
}

.header-underline:hover::after {
  width: 100%; /* Grow underline to full width */
}

.header-underline:not(:hover)::after {
  left: auto; /* Move start position to the right */
  right: 0; /* Shrink underline from the right */
  width: 0; /* Shrink underline */
}

.header-underline-light {
  position: relative;
  display: inline-block;
  padding-bottom: .5rem;
  transition: color 0.3s ease;
}

.header-underline-light::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with no underline */
  height: .1rem;
  background-color: currentColor;
  transition: width 0.3s ease; /* Only animate width */
}

.header-underline-light:hover::after {
  width: 100%; /* Grow underline to full width */
}

.header-underline-light:not(:hover)::after {
  left: auto; /* Move start position to the right */
  right: 0; /* Shrink underline from the right */
  width: 0; /* Shrink underline */
}




.noisecontainer {
  position: absolute;
  inset: 0;
  overflow: hidden; /* Important: contain the pseudo-element within */
}

.noisecontainer:before {
  z-index: 60;
  position: absolute; /* Not fixed */
  content: '';
  height: 300%;
  width: 300%;
  top: -100%;
  left: -50%;
  pointer-events: none;
  user-select: none;
  background-image: url('/noise.webp');
  background-size:120px 120px;
  opacity: 0.1;
  animation: noise 7s steps(10) infinite;
}

@keyframes noise {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

@keyframes noise-alt {
  0%, 100% { transform:translate(0, 0); }
  20% { transform:translate(10%, 15%); }
  40% { transform:translate(-8%, -15%); }
  60% { transform:translate(-15%, 10%); }
  80% { transform:translate(12%, -5%); }
}

/* Portfolio Backgrounds */
#portfolio-bmbs {
  position: relative;
  background: url('/bmbs.webp') no-repeat center center/cover;
  background-position: 85% 50%;
  filter: grayscale(100%);
}

#portfolio-bmbs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Adjust opacity for darkness */
  z-index: 1;
}

#portfolio-edb {
  position: relative;
  background: url('/edb.webp') no-repeat center center/cover;
  background-position: 50% 50%;
  filter: grayscale(10%);
}

#portfolio-edb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.2); Adjust opacity for darkness */
  z-index: 1;
}

#portfolio-cleano {
  position: relative;
  background: url('/cleano.webp') no-repeat center center/cover;
  filter: grayscale(10%);
  background-position: 0% 50%;
}

#portfolio-cleano::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.2); Adjust opacity for darkness */
  z-index: 1;
}

#portfolio-montrium {
  position: relative;
  background: #10103e url('/montrium.webp') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
