@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  scroll-behavior: auto !important;
  overflow-x: visible !important; /* ✅ Ensures fixed elements aren’t hidden */
}





  /* Fonts */

  @font-face {
    font-family: 'Zilap';
    src: url('/fonts/zilap.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Number';
    src: url('/fonts/Number.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Primeform Pro';
    src: url('/fonts/primeform_pro/PrimeformProDemo-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Artistic';
    src: url('/fonts/artistic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Corporate';
    src: url('/fonts/corporate.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Luxury';
    src: url('/fonts/luxury.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Future';
    src: url('/fonts/futura.ttc') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Minimalist';
    src: url('/fonts/minimalist.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Modern';
    src: url('/fonts/modern.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Retro';
    src: url('/fonts/retro.otf') format('openType');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Innovative';
    src: url('/fonts/innovative.otf') format('openType');
    font-weight: 400;
    font-style: normal;
  }


  
  @keyframes slideOut {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
    @keyframes slideOutLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


/* For flip card */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.header-underline {
  position: relative;
  display: inline-block;
  padding-bottom: .5rem;
  transition: color 0.3s ease;
}

.header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with no underline */
  height: .2rem;
  background-color: currentColor;
  transition: width 0.3s ease; /* Only animate width */
}

.header-underline:hover::after {
  width: 100%; /* Grow underline to full width */
}

.header-underline:not(:hover)::after {
  left: auto; /* Move start position to the right */
  right: 0; /* Shrink underline from the right */
  width: 0; /* Shrink underline */
}

.header-underline-light {
  position: relative;
  display: inline-block;
  padding-bottom: .5rem;
  transition: color 0.3s ease;
}

.header-underline-light::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with no underline */
  height: .1rem;
  background-color: currentColor;
  transition: width 0.3s ease; /* Only animate width */
}

.header-underline-light:hover::after {
  width: 100%; /* Grow underline to full width */
}

.header-underline-light:not(:hover)::after {
  left: auto; /* Move start position to the right */
  right: 0; /* Shrink underline from the right */
  width: 0; /* Shrink underline */
}


.dot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); /* Adaptive columns */
  width: 100%; /* Full screen width */;
  height: 100%;
  justify-content: center; /* Center dots horizontally */
  align-content: center; /* Center dots vertically */
  overflow: hidden;
}





